:host {
  color: white;
}

h1 {
  margin-bottom: 10px;
}

.content {
  margin: 3%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.row {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  margin: 10px;
  mat-form-field {
    width: 100%;
  }
}
.lesson-row {
  display: flex;
  gap: 15px;
  margin: 0px 10px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.lesson-list {
  background-color: rgb(37, 37, 37);
  margin: 10px 10px;
  border-radius: 10px;
  padding: 0% 1%;
}

.action {
  display: flex;
  justify-content: space-around;
  button {
    width: 40%;
  }
}
.lesson-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button{
    width: auto;
    height: fit-content;
  }
}
.lesson-rem {
  width: 20px;
}
// .form-content {
//     display: flex;
//     flex-direction: column;
// }

lesson-header {
  text-decoration: underline;
}
